# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.coveragerc
*.pylintrc
pytest_cache/
coverage/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
# VS Code
.vscode/
# PyCharm
.idea/
*.iml
# Sublime Text
*.sublime-project
*.sublime-workspace

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest cache
.pytest_cache/

# MacOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Temporary files
*.swp
*.swo
*.tmp
*.temp
# 忽略 __pycache__ 目录
__pycache__/

# 忽略 .ipynb_checkpoints 目录
.ipynb_checkpoints/
